<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request for Review</title>
</head>
<body>
    <h2>Hi <%= fname %> <%= lname %>,</h2>
    <p>We hope you enjoyed your recent booking to <%= businessName %>.</p>
    <p>As a valued customer, your feedback is important to us. We would greatly appreciate it if you could take a moment to share your experience with us by writing a review.</p>
    <p>Your feedback helps us improve our services and ensures that we continue to provide the best experience for our customers.</p>
    <p>http://localhost:3000/write-a-review/<%=user%>/<%=service%></p>
    <p>Thank you for choosing <%= businessName %>! We look forward to hearing from you.</p>
    <p>Best regards,<br>
    Vivahaa Team</p>
</body>
</html>
